// Color Scheme

// First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

// Second Color Scheme
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #F4BAAE;

//Third Color Scheme
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;

//Third Color Scheme
$onyx: #333745;
$spanish-gray: #8f9199;
$lavender-gray: #C7C8CC;

//Fourth Color Scheme
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;

// Tipography

//Font Family
$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// Font Weight
$regular:400;
$bold:700;

// Font Sizes
$xxxxx-large:50px;
$xxxx-large:45px;
$xxx-large:40px;
$xx-large:35px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
$x-small:12px;
